<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Stone</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>
    <header>
        <h1>Add New Stone</h1>
        <nav>
            <a href="{{ url_for('index') }}">Back to Home</a>
        </nav>
    </header>
    <main>
        <form action="{{ url_for('add_stone') }}" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="comments">Comments:</label>
            <textarea id="comments" name="comments"></textarea>

            <label for="provenance">Provenance:</label>
            <input type="text" id="provenance" name="provenance">

            <label for="date_acquisition">Acquisition Date:</label>
            <input type="date" id="date_acquisition" name="date_acquisition" required>

            <label for="price">Price (€):</label>
            <input type="number" step="0.01" id="price" name="price" required>

            <label for="weight">Dimensions (cm/g):</label>
            <input type="text" id="weight" name="weight">

            <label for="other_info">Additional Info:</label>
            <textarea id="text" name="other_info"></textarea>

            <label for="box">Box:</label>
            <input type="text" id="box" name="box">

            <button type="submit">Add Gem/Stone</button>
        </form>
    </main>
</body>
</html>
