{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<body>
    <div class="content">
        <h1>Gems & Stones</h1>
        <p>List of gems and stones in your collection!</p>

        <input
            type="text"
            id="searchBar"
            placeholder="Search for specific gems or stones..."
            onkeyup="filterStones()"
            style="padding: 8px; width: 100%; margin-bottom: 20px; border-radius: 5px; border: 1px solid #ccc;"
        >

        <ul id="stoneList">
            {% for stone in stones %}
                <li>
                    <a href="/stone/{{ stone[0] }}" class="button">{{ stone[0] }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <script>
        function filterStones() {
            const query = document.getElementById('searchBar').value.toLowerCase();
            const stoneList = document.getElementById('stoneList');
            const stones = stoneList.getElementsByTagName('li');

            for (let i = 0; i < stones.length; i++) {
                const stoneName = stones[i].textContent.toLowerCase();

                if (stoneName.includes(query)) {
                    stones[i].style.display = "";
                } else {
                    stones[i].style.display = "none";
                }
            }
        }
    </script>
</body>
{% endblock %}
